<<<<<<< HEAD
﻿---
=======
---
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
import Layout from "../../../layouts/BackroomInterface.astro";
---

<Layout siteTitle="Funkcja 2">
  <section class="max-w-3xl mx-auto py-12">
    <h1 class="text-2xl font-bold text-cyber-blue">Funkcja 2</h1>
<<<<<<< HEAD
    <p class="text-cyber-text-dim mt-4">SzczegĂłĹ‚y Funkcji 2.</p>
    <div class="mt-8">
      <a class="text-cyber-blue" href="/hub/functions"
        >â† PowrĂłt do listy funkcji</a>
    </div>
  </section>
</Layout>

=======
    <p class="text-cyber-text-dim mt-4">Szczegóły Funkcji 2.</p>
    <div class="mt-8">
      <a class="text-cyber-blue" href="/hub/functions"
        >← Powrót do listy funkcji</a>
    </div>
  </section>
</Layout>
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
