<!-- Navigation Section -->
<section class="border border-edge relative">
  <div class="absolute left-0 right-0 h-full">
    <!-- Inner vertical lines -->
    <div
      class="absolute left-[calc(50vw+400px)] top-0 bottom-0 w-px bg-edge"
    ></div>
    <div
      class="absolute right-[calc(50vw-400px)] top-0 bottom-0 w-px bg-edge"
    ></div>
    <!-- Outer vertical lines -->
    <div
      class="absolute left-[calc(50vw+600px)] top-0 bottom-0 w-px bg-edge"
    ></div>
    <div
      class="absolute right-[calc(50vw-600px)] top-0 bottom-0 w-px bg-edge"
    ></div>
  </div>
  <div class="max-w-6xl mx-auto">
    <div class="flex flex-row p-2">
      <a class="hover:brightness-125" href="/">
        <h1 class="text-4xl sm:text-5xl">KAROL LISSON</h1>
        <h2 class="text-2xl sm:text-3xl">MY_Bonzo_AI_ZEnon_HuB</h2>
      </a>

      <div class="hidden ml-auto gap-4 md:gap-0 md:flex md:flex-col">
        <a
          class="ml-auto hover:brightness-125 duration-200"
          href="mailto:LissonKarol.msa@gmail.com"
        >
          LissonKarol.msa@gmail.com
          <svg
            style="--rotation: -45deg"
            class="stroke-primary-foreground inline aspect-square w-3 h-auto fill-transparent rotate-[var(--rotation)]"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </a>
        <div class="flex flex-row-reverse flex-wrap gap-4">
          <a
            class="hover:brightness-125 duration-200"
            href="https://www.linkedin.com/in/linkedinHandle"
          >
            LinkedIn
            <svg
              style="--rotation: -45deg"
              class="stroke-primary-foreground inline aspect-square w-3 h-auto fill-transparent rotate-[var(--rotation)]"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
          <a
            class="hover:brightness-125 duration-200"
            href="https://www.github.com/githubUsername"
          >
            GitHub
            <svg
              style="--rotation: -45deg"
              class="stroke-primary-foreground inline aspect-square w-3 h-auto fill-transparent rotate-[var(--rotation)]"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3 12L21 12M21 12L12.5 3.5M21 12L12.5 20.5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
