---
import MainLayout from "../layouts/MainLayout.astro";
import AnalitikaRaporty from "../components/analityka/AnalitikaRaporty";
---

<MainLayout
  title="Analityka & Raporty - ZENON_Biznes_HUB"
  description="Dashboard biznesowy z KPI, wykresami przychodow, analizami wzrostu klientow."
>
  <div class="container mx-auto px-4 py-12">
    <AnalitikaRaporty client:load />
  </div>
</MainLayout>
