<<<<<<< HEAD
﻿---
=======
---
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
import MyBonzoLayout from "../layouts/MyBonzoLayout.astro";
import SvelteAnimationsShowcase from "../components/AnimationsShowcase.svelte";
---

<MyBonzoLayout siteTitle="Svelte Animations Showcase - Demonstracja Animacji">
  <div class="animations-page">
    <SvelteAnimationsShowcase client:load />
  </div>
</MyBonzoLayout>

<style>
  .animations-page {
    min-height: 100vh;
  }
</style>
<<<<<<< HEAD

=======
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
