---
import MainLayout from "../layouts/MainLayout.astro";
import SEOAnalityka from "../components/seo/SEOAnalityka";
---

<MainLayout
  title="SEO Analityka - ZENON_Biznes_HUB"
  description="Wyszukiwanie slow kluczowych, monitorowanie pozycji w Google, analityka ruchu na stronie."
>
  <div class="container mx-auto px-4 py-12">
    <SEOAnalityka client:load />
  </div>
</MainLayout>
