<<<<<<< HEAD
﻿---
=======
---
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
const {
  label = "Akcja",
  onClick = null,
  type = "button",
  color = "primary",
} = Astro.props;
---

<button type={type} onclick={onClick} class={`btn btn-${color}`}>
  {label}
</button>
<<<<<<< HEAD

=======
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
