<<<<<<< HEAD
﻿---
=======
---
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
const { agent } = Astro.props;
---

<article>
  <h2>{agent.data.title}</h2>
  <p>{agent.data.description}</p>
  <p>Status: {agent.data.status}</p>
  <small>{agent.data.date}</small>
</article>
<<<<<<< HEAD

=======
>>>>>>> c1c4ac5534f2943dcdcdd273d347cf64339cc1a7
