---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  siteTitle?: string;
  siteDescription?: string;
}

const { siteTitle = "", siteDescription = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head pageTitle={siteTitle} pageDescription={siteDescription} />
    <!-- Import Backroom visual styles -->
    <link rel="stylesheet" href="/src/styles/backroom-tailwind.css" />
  </head>
  <body class="bg-cyber-dark text-cyber-text font-sans">
    <Header cosmeticText="Backroom Interface" />
    <main class="min-h-svh pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
