---
import PolaczekDyrektorPanel from '../../components/admin/PolaczekDyrektorPanel.svelte';
---
<html lang="pl">
  <head>
    <title>Panel Dyrektora</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: #f0f2f5;
        color: #333;
      }
    </style>
  </head>
  <body>
    <PolaczekDyrektorPanel client:load />
  </body>
</html>
